<!DOCTYPE html>
<html>
	<head>
		<title>Loans</title>
		<style>
			body {
				background: #000;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="bucket"></div>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js"></script>
		<script src="vendor/jquery.js"></script>
		<script src="vendor/lodash.js"></script>
		<script src="vendor/backbone.js"></script>
		<script src="vendor/stats.js"></script>
		<script src="vendor/three.min.js"></script>

		<script src="utilities/cartographer.js"></script>
		<script src="utilities/gradient.js"></script>
		<script src="models/school.js"></script>
		<script src="collections/schools.js"></script>
		<script src="views/particle.js"></script>
		<script src="views/pin.js"></script>
		<script src="views/particleMap.js"></script>
		<script src="views/pinboard.js"></script>
		<script src="scene.js"></script>
	</body>
</html>
